/* Reset */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
  vertical-align: baseline;
}

* {
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header */

header {
  position: relative;
  margin: 1.2em 1.2em 0em;
  height: 3.8em;
}

.left-aligned {
  float: left;
  display: inline-block;
}

.right-aligned {
  float: right;
  display: inline-block;
  margin: 1em 1em 0em 0em;
}

#logo {
  display: inline-block;
  position: relative;
  bottom: 0.5em;
  padding-left: 0.2em;
}

img#logo {
  height: 30px;
  width: 92px;
}

form {
  display: inline-block;
  margin: 0em 3em;
}

#appdrawer {
  vertical-align: middle;
  width: 24px;
  padding-left: 15px;
  color: #5f6368;
  margin-bottom: 2px;
  opacity: 0.55;
}

#appdrawer:hover {
  opacity: 1;
}

#sign-in {
  height: 2px;
  border: 1px solid #4285f4;
  margin-left: 13px;
  color: white;
  background: #4387fd;
  border-radius: 3px;
  padding: 9px 23px;
}

#search-box {
  display: table;
  margin: auto;
  border: 1px solid #cfcece;
  border-radius: 50px;
  width: 620px;
  height: 43px;
  margin-top: 0px;
}

#search-box:hover {
  box-shadow: 0px 1px 5px grey;
}

#search-box svg {
  position: relative;
  top: 7px;
  width: 24px;
  fill: #4285f4;
}

#google-search-text {
  width: 385px;
  height: 35px;
  font-size: 12pt;
  margin: 4px 140px 3px 20px;
  border: none;
}
#google-search-text:focus {
  outline: none;
}

#mic {
  position: relative;
  vertical-align: middle;
  width: 24px;
  margin-right: 10px;
  margin-bottom: 3px;
}

/* Categories Bar */

div.categories {
  padding: 0em 27em 0 11.5em;
  color: #5f6368;
  height: 2em;
  border-bottom: 1px solid #eee;
}

.categories a {
  color: #5f6368;
  font-size: 13px;
  padding: 0.8em 1em;
}

.categories a:hover {
  color: #4285f4;
  text-decoration: none;
}

div.categories-left {
  float: left;
}

.categories-left li {
  display: inline;
  float: left;
}

.categories-right li {
  display: inline;
  float: left;
}

div.categories-right {
  float: left;
  margin: 0 0 0 9em;
}

.categories ul {
  margin-top: 1em;
}

ul li {
  list-style-type: none;
}

#All {
  color: #4285f4;
  border-bottom: 3px solid #4387fd;
}

#Tools:hover {
  color: #5f6368;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  margin-bottom: 4px;
  padding: 10px 10px;
  border-radius: 2px;
}

/* Search Results */

#results-search {
  color: #70757a;
  margin: 1em 0 1em 12em;
}

div.results {
  margin: 1em 0 1em 12em;
  width: 45em;
}

ul li#item {
  margin-top: 2em;
}
ul li a {
  color: #1a0dab;
}

ul li a:hover {
  text-decoration: underline;
}

div#result-link {
  margin-bottom: 0.5em;
}

a#result-link {
  color: #1a0dab;
  font-size: 130%;
}

span#arrow {
  margin-left: 0.5em;
}

div#result-desc {
  margin-top: 0.5em;
  line-height: 1.5;
}

p#link-list {
  margin: 0.5em 0 0.5em 0;
}

span#date {
  color: #5f6368;
}

/* Results - boxed */
div.results-boxed {
  margin: 0em 0 0em 11em;
  width: 45em;
}

ul#boxed {
  padding-top: 1em;
}

ul#boxed h2 {
  color: #5f6368;
  display: inline;
}

span#x {
  display: inline;
  float: right;
}
ul li#top {
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 0;
  border-color: #c6c6c6;
  border-style: solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.8em 1em;
}

ul li#middle {
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 0px;
  border-color: #c6c6c6;
  border-style: solid;
  padding: 0.8em 1em;
}

ul li#bottom {
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #c6c6c6;
  border-style: solid;
  padding: 0.8em 1em;
}

p#boxed-link-list {
  margin: 0.5em 0 0em 0;
}

p#boxed-link-list a {
  padding-right: 5em;
  line-height: 1.5;
}

li#top h1 {
  font-size: 140%;
  font-weight: normal;
  color: #222;
  display: inline;
}

li#middle h3 {
  font-size: 110%;
  font-weight: normal;
  color: #222;
  display: inline;
}

li#bottom h3 {
  font-size: 110%;
  font-weight: normal;
  color: #222;
  display: inline;
}

a#feedback {
  float: right;
  font-size: 85%;
  padding-top: 0.5em;
  padding-right: 1em;
  font-style: italic;
  color: #5f6368;
}

span#arrow-right {
  margin-left: 0.5em;
  float: right;
}

/* Related Search Images */

p#grey {
  color: #5f6368;
  font-size: 95%;
  padding-bottom: 0.5em;
}

a#view-more {
  color: #5f6368;
  font-size: 95%;
  float: right;
}
ul li#bottom-images {
  border-top: 0px;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #c6c6c6;
  border-style: solid;
  padding: 0.8em 1em;
}

a#img {
  display: inline-block;
  padding-right: 0.7em;
}

a img {
  height: 72px;
  width: 72px;
}

/* Related Search Links */

div.related {
  margin: 1em 0 1em 12em;
  width: 45em;
}

ul#related a {
  color: #1a0dab;
  font-weight: bold;
}

div.left {
  float: left;
  margin-right: 5em;
}

div.left li {
  padding-bottom: 0.7em;
}

ul#related h2 {
  margin: 1em 0;
  font-size: 130%;
  font-weight: normal;
}

/* Google pagination */

div.google-paginate {
  display: block;
  margin: 1em 0 1em 12em;
  padding: 5em 0 0 10em;
  width: 45em;
  clear: both;
}

div.google-paginate li {
  display: inline-block;
  text-align: center;
}

.google-paginate ul li a {
  display: block;
}

img#G {
  height: 28px;
  width: 28px;
  padding-bottom: 20px;
}

img#o {
  height: 20px;
  width: 20px;
  padding-bottom: 5px;
}

img#img {
  height: 57px;
  width: 69px;
}
